/*.suo
/*.user
bin/
obj/
/TestResults
/_ReSharper.TravelLine
/env
/.git
/.vs
/packages
/logs
/backup
*.csproj.user
ServiceFabricBackup
pkg/
wwwroot
NugetPackage
/Utils/ServiceAccountCredentialManaging/Output/
.idea/
/nlog_default
**/*.pem
**/*.crt
**/*.cnf
**/*.key
**/id_rsa*
**/authorized_keys*